<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="dissertation/home.php" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Rewrite to subfolder" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/dissertation/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
